# Virtual environment
Pipfile
Pipfile.lock

# Biến môi trường — chứa secret keys, KHÔNG commit
.env
.env_TN
.envHT


# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db_test.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

settings.TN.py